---
layout: layout.liquid
title: Bhin
---
<header>
    <h1>Bhin</h1>
    <nav>
        <a href="./">Home</a>
        <a href="./blog/">Blogs</a>
        <a href="./">Skills</a>
        <a href="./">Contact</a>
    </nav>
</header>
<div>
    <img src="sticker.png" alt="img">
    <h1>Yoh, I'm Bhinav!!</h1>
    <p>I am a student at PIET, Waghodia, Vadodara.</p>
    <br>
    <p>I like video games, reading mangas, and some outdoor activities.</p>
</div>
<div>
    <h1>Current Projects:</h1>
    <ul>
        <li>Split Drive</li>
        <li>.....</li>
        <li>.....</li>
        <li>.....</li>
    </ul>
    <br>
    <h1>Skills</h1>
    <ol>
        <li>Web dev</li>
        <li>languages like C,Java,python</li>
        <li>3D Modeling</li>
        <li>Video Editing</li>
        <li>Photo Retouching</li>
    </ol>
    <br>
    <div>
        <h2>contact</h2>
        <li>Email: <a href="bhinavvaru@gmail.com">here</a></li>
        <li>Phone:89628788151</li>
        <li>Github: <a href="Sensei-edits.github.io">Here</a></li>
    </div>
</div>
<footer>
    <p>Bhinav 2025.</p>
</footer>
